{% extends 'base.html' %}

{% block title %}
    registration
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-6">
            <h1 class="text-center" style="background-color: #b6d0d0">Registration</h1>
            <form method="post">
                {{ form.csrf_token }}

                {{ form.username.label(for="username", class="form-label") }}
                {{ form.username(type="text", class="form-control", id="username") }}


                {{ form.email.label(for="email", class="form-label") }}
                {{ form.email(type="email", class="form-control", id="email", placeholder='name@example.com') }}
                {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.password.label(for="password", class="form-label") }}
                {{ form.password(type="password", class="form-control", id="password") }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.repeat_password.label(for="repeat_password", class="form-label") }}
                {{ form.repeat_password(type="password", class="form-control", id="repeat_password") }}
                {% if form.repeat_password.errors %}
                    <ul class="errors">
                        {% for error in form.repeat_password.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button class="btn btn-primary my-2" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}