.main-text{
    color: #ffffff;
    font-family: Bahnschrift,sans-serif;
    font-size: 3.1em;
}

.btn-position{
    margin-top: 400px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3e3e3e;
    bo: lavenderblush;
}

.my-top-85 {
  top: 85% !important;
}


