{% extends 'base.html' %}

{% block title %}
    create_meme
{% endblock %}

{% block content %}
    <style>
        body{
            background-color: #c55818;
        }
    </style>
    <form method="post">
        {{ form.csrf_token }}
        <div class="card mx-auto" style="width: 25rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0" style="background-color: #86d3f0">
                    {{ form.text_top(type="text", class="form-control", id="text_top", placeholder='Enter top text') }}
                </li>
            </ul>

            <a class="btn btn-outline-dark to-saving" type="submit" hidden href="#" onclick="toggleElements('to-editing', false);
                toggleElements('to-saving', true)">Back to edit</a>

            <img src="{{ template.image_url() }}" class="card-img-top">

            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0" style="background-color: #86d3f0">
                    {{ form.text_bottom(type="text", class="form-control", id="text_bottom", placeholder='Enter bottom text') }}
                </li>
                <li class="list-group-item p-0" hidden style="background-color: #86d3f0">
                    {{ form.save_to_desktop(id="save_to_desktop") }}
                </li>
            </ul>
            <button class="btn-outline-primary to-saving" type="submit" hidden onclick="to_save()">Save to desktop</button>
            <button class="btn-outline-primary  to-saving" type="submit" hidden>Save to cloud</button>
            <script type="application/javascript" src="{{ url_for('static', filename='js/toggle-elements.js') }}"></script>
            <a class="btn btn-outline-dark to-editing" type="submit" href="#"
               onclick="toggleElements('to-editing', true); toggleElements('to-saving', false)">
                <i class="bi bi-file-earmark-arrow-down" style="font-size: 150%"></i></a>
        </div>
    </form>
    <script type="application/javascript">
        function to_save(){
            document.getElementById('save_to_desktop').checked = true
        }
    </script>
{% endblock %}
