<div class="navbar navbar-dark bg-dark justify-content-end">
    <form class="d-flex">
        <a href="{{ url_for('main.index') }}" class="btn btn-outline-info mx-2" type="submit">Home</a>
        <a href="{{ url_for('main.templates') }}" class="btn btn-outline-info mx-2" type="submit">Templates</a>
        <a href="{{ url_for('main.get_memes') }}" class="btn btn-outline-info mx-2" type="submit">Memes</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-warning mx-2" type="submit">logout</a>
    </form>
</div>