<div class="navbar navbar-dark justify-content-end">
    <form class="d-flex">
        <a href="{{ url_for('main.index') }}" class="btn my-btn-outline-info mx-2" style="font-family: cursive; border-radius: 30%; border: double; border-width: 2px 4px; font-size: 1.5rem" type="submit">Home</a>
        <a href="{{ url_for('main.templates') }}" class="btn my-btn-outline-info mx-2" style="font-family: cursive; border-radius: 30%; border: double; border-width: 2px 4px; font-size: 1.5rem" type="submit">Templates</a>
        <a href="{{ url_for('main.get_memes') }}" class="btn my-btn-outline-info mx-2" style="font-family: cursive; border-radius: 30%; border: double; border-width: 2px 4px; font-size: 1.5rem" type="submit">Memes</a>
        <a href="{{ url_for('auth.logout') }}" class="btn my-btn-outline-info mx-2" style="font-family: cursive; border-radius: 30%; border: double; border-width: 2px 4px; font-size: 1.5rem" type="submit">logout</a>
    </form>
</div>