<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('main.templates') }}">Templates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-checked="true" href="{{ url_for('main.meme') }}">Memes</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" aria-checked="true" href="{{ url_for('auth.logout') }}">Logout</a>
  </li>
</ul>