{% extends 'base.html' %}


{% block title %}
    Home page
{% endblock %}

{% block content %}

    <style>
        body{
            background-image: url('../static/img.png');
            background-size: cover;
        }
    </style>
    <h1 class="main-text to-hide my-3">Do you want to make a perfect Meme?</h1>

    <a
        class="btn btn-outline-light to-hide btn-position"
        type="submit"
        href="#"
        onclick="toggleElements('to-hide', true); toggleElements('to-show', false)"
    >
        Start with great images
    </a>

    <a class="btn btn-outline-light main-text btn-position to-show" type="submit" hidden href="{{ url_for( 'main.templates') }}">Caption template</a>
    <a class="btn btn-outline-light main-text btn-position to-show" type="submit" hidden href="{{ url_for( 'main.get_memes') }}">Meme gallery</a>

    <script type="application/javascript" src="{{ url_for('static', filename='js/toggle-elements.js') }}"></script>

{% endblock %}